# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.filters
*.user
*.vcxproj
*.sln
*.vs
*.vsidx
*.csproj

# Misc
.idea/
x64/
obj/
bin/
#*.json
#*.xml
#*.recipe
#*.tlog





